body {
  max-width: 700px;
  margin: 0 auto;
}

h2 {
  padding-top: 10px;
}

#header {
  padding-top: 5px;
}

#inner-header {
  padding-left: 10px;
}

#main {
  padding-left: 10px;
}

.title {
  padding-top: 10px;
}
