{% extends "layout.html" %}

{% block content %}

{% if form %}
    
    <form action="{{ url_for('add_book') }}" method="post">
      {{ form.hidden_tag() }}
      
        {{ form.title.label }}
        {{ form.title() }}<br>

        {{ form.author.label }}
        {{ form.author(cols=32, rows=4) }}<br>

        {{ form.category.label }}
        <select name="category">
          {% for cat in category %}
            <option value="{{ cat }}">{{ form.category() }}</option>
          {% endfor %}
        </select>
        
        {{ form.submit() }}

    </form>
    
    <p><a href="{{ url_for('books') }}">Cancel</a></p>
    
    {% endif %}

{% endblock %}
