{% extends "layout.html" %}

{% block content %}

<body>
  
  <h2>Book List for {{ current_user.username }}</h2>

  <ol>
    {% for book in books %}
    <li>
      {% if book.done %}
        <strike>
      {% endif %}
        
      <!-- {{ book.title }} by {{ book.author }} // {{ book.category }} // Added on {{ book.added_on }} -->
      <!-- {{ book.title }} by {{ book.author }} // Added on {{ moment(book.added_on).format('LLL') }} -->
      <!-- {{ book.title }} by {{ book.author }} // Added on {{ book.added_on.strftime('%B %d %Y - %H:%M:%S') }} -->
      {{ book.title }} by {{ book.author }} // Added on {{ book.added_on.strftime('%B %d %Y - %H:%M') }}
        
      {% if book.done %}
        </strike>
      {% endif %}
      
      <a href="/done/{{ book.id }}">Mark as Read</a> |
      <a href="/edit_book/{{ book.id }}">Edit Book</a> | 
      <a href="/delete_book/{{ book.id }}">Delete Book</a>
    </li>

    {% endfor %}

  </ol>

{% endblock %}
