{% extends "layout.html" %}

{% block content %}

<body>
  
  <h2>Book List for {{ current_user.username }}</h2>

  <ol>
    {% for book in books %}
    <li>
      {% if book.done %}
        <strike>
      {% endif %}
        
      <!-- {{ book.title }} by {{ book.author }} // {{ book.category }} // Added on {{ book.added_on }} -->
      {{ book.title }} by {{ book.author }} // Added on {{ book.added_on }}
        
      {% if book.done %}
        </strike>
      {% endif %}
      
      <a href="/done/{{ book.id }}"> Mark as Read </a> |
      <a href="/delete_book/{{ book.id }}"> Delete Book </a>
    </li>

    {% endfor %}

  </ol>

{% endblock %}
