{% extends "layout.html" %}

{% block content %}

<body>

  {% if current_user.is_anonymous %}
  <a href="{{ url_for('login') }}">Login</a>
  {% else %}
  <p>Welcome, {{ current_user.username }}! <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}

  <h2>Book List</h2>

  <ol>
    {% for book in books %}
    <li>
      {% if book.done %}
      <strike>
        {% endif %}
        
        {{ book.title }} by {{ book.author }} // {{ book.category }} // Added on {{ book.added_on }}
        
        {% if book.done %}
      </strike>
      {% endif %}
      
      <a href="/done/{{ book.id }}"> Mark as Read </a> |
      <a href="/delete/{{ book.id }}"> Delete Book </a>
    </li>

    {% endfor %}

  </ol>

  <form action="/add_book" method="post">
    <p>Book<input type="text" name="title"></p>
    <p>Author<input type="text" name="author"></p>
    <p>Category</p>
    
    <select type="text" name="category">
      <option>Biography</option>
      <option>Business</option>
      <option>Classics</option>
      <option>Essays</option>
      <option>Fiction</option>
      <option>History</option>
      <option>Horror</option>
      <option>Humour</option>
      <option>Memoir</option>
      <option>Nonfiction</option>
      <option>Philosophy</option>
      <option>Poetry</option>
      <option>Psychology</option>
      <option>Romance</option>
      <option>Science</option>
      <option>Self-Help</option>
      <option>Religion/ Spirituality</option>
      <option>Travel</option>
    </select>

    <input class="button-primary" value="Add Book" type="submit">
  </fieldset>
  </form>

{% endblock %}
