<html>
<head>

<title>Flask Reading Tracker</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/milligrammod.css') }}">

</head>

<body>
{% if current_user.is_anonymous %}
<a href="{{ url_for('login') }}">Login</a>
{% else %}
<p>Welcome, <a href="{{ url_for('user_profile') }}"> {{ current_user.username }}</a> // <a href="{{ url_for('books') }}">Books</a> // <a href="{{ url_for('add_book') }}">Add book</a>
  // <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}

    <!-- flash messages -->
      
    {% for error_message in get_flashed_messages(category_filter=["error"]) %}
      <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
    {% endfor %}
      
    {% for success_message in get_flashed_messages(category_filter=["success"]) %}
      <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
    {% endfor %}
      
    {% for info_message in get_flashed_messages(category_filter=["info"]) %}
      <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
    {% endfor %}

  {% block content %} {% endblock %}

  <div class="footer">
    <hr>
    <p>Image credit - <a href="https://unsplash.com/photos/IQrPWwuTf5M/">Annie Spratt</a></p>
    <!-- Automatically change date and year -->
    <p>Marundu &copy; - <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script></p>
    
  </div>

</body>
</html>
